{# templates/task/create.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - {{ project.name }}{% endblock %}

{% block body %}
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <div class="flex-header">
                {# On met le titre de la tâche, ou "Nouvelle tâche" si elle n'existe pas encore #}
                <h1>Créer une tâche</h1>
                <div class="user-list">
                    {% for user in project.users %}
                        <div class="avatar" title="{{ user.firstName }} {{ user.lastName }}">
                            {{ user.firstName|first }}{{ user.lastName|first }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        {# On centre le formulaire qui a une largeur fixe dans style.css #}
        <div class="d-flex justify-content-center">

            {{ form_start(form, {'attr': {'class': 'form-main'}}) }}

            {# On rend chaque champ manuellement pour qu'il corresponde au style #}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}

            {# On utilise la classe 'form-flex' du style.css #}
            <div class="form-flex">
                <div>{{ form_row(form.deadline) }}</div>
                <div>{{ form_row(form.status) }}</div>
            </div>

            {{ form_row(form.assignedUser) }}

            <button type="submit" class="button button-submit">Ajouter</button>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
