{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# Le titre sera défini dans chaque page enfant #}
    <title>{% block title %}TaskLinker{% endblock %}</title>

    {# Liens CSS et JS - On utilisera Symfony Asset pour gérer ça proprement plus tard #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="main-container">
    <nav>
        <a href="{{ path('app_home') }}" id="logo">
            {# Pense à mettre le logo dans le dossier /public/img/ #}
            <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
        </a>
        <ul id="main-menu">
            {# On gèrera la classe "active" dynamiquement plus tard #}
            <li class="active">
                <a href="{{ path('app_home') }}">
                    <i class="fa-solid fa-list-check"></i> Projets
                </a>
            </li>
            <li>
                {# Le lien pour les employés sera à créer #}
                <a href="#">
                    <i class="fa-regular fa-user"></i> Équipe
                </a>
            </li>
        </ul>
    </nav>
    <main>
        {# Ce bloc contiendra tout le contenu spécifique à la page #}
        {% block body %}{% endblock %}
    </main>
</div>

{# Scripts JS #}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ asset('js/select.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
